::ng-deep {
    form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .mat-mdc-table {
            box-shadow: unset;
        }
    
        .mat-mdc-form-field {
            width: 49%;
        }
        .mdc-dialog--open .mat-mdc-dialog-surface {
            border-radius: 0 !important;
            min-width: 750px !important;
        }

        .form-field {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}