#employee-feedback {
    padding: 10px;

    h1 {
        font-weight: 500;
        padding: 0.5rem 0 1rem 0;
        font-size: var(--text-xl);
    }

    .evaluation-request-container {
        display: flex;
        gap: 10px;
        padding: 10px;
        border: 1px solid var(--border-gray);
        border-radius: 8px;
        background: var(--white-bg);

        .request {
            display: flex;
            gap: 1.2rem;
            flex-direction: column;
            width: 100%;
            padding: 15px;
            background: var(--evaluation-request);
            border: 1px solid var(--border-gray2);

            h2 {
                font-size: var(--text-md);
                font-weight: 500;
            }

            .number {
                font-size: var(--text-xl);
                font-weight: 500;
            }

            &.ongoing {
                background: var(--evaluation-ongoing);
            }

            &.evaluated {
                background: var(--evaluated);
            }

            .update {
                color: var(--gray-text);
                font-size: var(--text-sm);
            }
        }
    }

    ::ng-deep {

        mat-card {
            border: 1px solid var(--border-gray);
            border-radius: 5px;
            background: var(--white-bg);

            mat-card-header {
                border-bottom: 1px solid var(--border-gray);
                font-weight: 500;
                font-size: var(--text-lg);
                padding: 20px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .mat-mdc-card-header-text {
                    display: none;
                }

                p {
                    display: inline-block;
                    text-align: left;
                }

                button {
                    font-size: var(--text-md);
                    // border-radius: 10px;
                    width: fit-content;
                }

            }

            mat-card-content {
                padding: 15px;
                color: var(--text-second);
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                    font-size: var(--text-md);
                }

                select {
                    width: 100%;
                    border: 1px solid var(--border-gray2);
                    border-radius: 5px;
                    padding: 8px;
                    font-size: var(--text-md);
                    font-weight: 300;
                    color: var(--text-second);
                }

                .top-bar {
                    display: flex;
                    gap: 10px;
                    width: 100%;
                    justify-content: flex-end;

                    .search-bar {
                        box-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.3);
                        display: flex;
                        padding: 3px 8px;
                        border-radius: 5px;

                    }

                    input {
                        border: none;
                        outline: none;
                        font-size: var(--text-md);
                    }
                }

                // .mat-mdc-table {
                //     border: 1px solid var(--border-gray2);
                //     border-radius: 8px;
                // }

                // .mat-mdc-header-row {
                //     font-size: var(--text-md);
                //     border-top-right-radius: 8px;
                //     border-top-left-radius: 8px;

                //     .mat-mdc-header-cell {
                //         // border-top-right-radius: 8px;
                //         // border-top-left-radius: 8px;
                //         border-bottom: 1px solid var(--border-gray2);
                //         background: var(--table-header);
                //     }

                //     .mat-mdc-header-cell:last-child {
                //         border-top-right-radius: 8px;
                //     }

                //     .mat-mdc-header-cell:first-child {
                //         border-top-left-radius: 8px;
                //     }
                // }

                // .mat-mdc-row:last-child {
                //     border-bottom-right-radius: 8px;
                //     border-bottom-left-radius: 8px;

                //     .mat-mdc-cell {
                //         border-bottom-right-radius: 8px;
                //         border-bottom-left-radius: 8px;
                //         border-bottom: 0;
                //     }
                // }

                // .mat-mdc-cell {
                //     border-bottom: 1px solid var(--border-gray);
                //     font-size: var(--text-md);
                //     color: var(--gray-text);
                // }
            }
        }
    }
}

