<div class="leave-request-container">
    <div class="request pending">
        <h2>{{"Pending_Leave_Requests" | translate}}</h2>
        <p class="number">2</p>
        <div class="explain">
            <mat-icon>notifications</mat-icon>
            <div class="value-content">
                <p class="value">25.67%</p>
                <p>{{"Current_Status" | translate}}</p>
            </div>
        </div>
    </div>
    <div class="request granted">
        <h2>{{"Granted_Leave_Requests" | translate}}</h2>
        <p class="number">2</p>
        <div class="explain">
            <mat-icon aria-hidden="true">check_circle</mat-icon>
            <div class="value-content">
                <p class="value">25.67%</p>
                <p>{{"Current_Status" | translate}}</p>
            </div>
        </div>
    </div>
    <div class="request rejected">
        <h2>{{"Rejected_Leave_Requests" | translate}}</h2>
        <p class="number">2</p>
        <div class="explain">
            <mat-icon >block</mat-icon>
            <div class="value-content">
                <p class="value">25.67%</p>
                <p>{{"Current_Status" | translate}}</p>
            </div>
        </div>
    </div>
    <div class="request maternity">
        <h2>{{"Overdue_Leave_Requests" | translate}}</h2>
        <p class="number">2</p>
        <div class="explain">
            <mat-icon>warning</mat-icon>
            <div class="value-content">
                <p class="value">25.67%</p>
                <p>{{"Current_Status" | translate}}</p>
            </div>
        </div>
    </div>
</div>