<div id="profile">

    <h1> {{(isStaffComp ? 'My_Profile2' : 'My_Profile') | translate}}</h1>

    <mat-card appearance="outlined">
        <mat-card-header> {{'Enter_Details' | translate}}</mat-card-header>
        <mat-card-content>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="label-elements">
                    <div class="upload-profile">
                        <p> {{'Profile_Photo' | translate}}</p>
                        <div class="upload">
                            <label for="upload-file"><img
                                    [src]=" profilePic ? profilePic : '../../../assets/imgs/user_profile.png' "></label>
                            <input type="file" (change)="onPicSelected($event)" id="upload-file">
                            <p>{{profilePic ? 'Selected: ' + profileName :'Choose File'}}</p>
                        </div>
                    </div>

                    <label class="form-label">
                        {{'Employee_ID' | translate}}
                        <input type="text" formControlName="employeeId">
                    </label>

                    <label for="" class="form-label">
                        {{'Title/Civility' | translate}} 
                        <select formControlName="title">
                            <option value="dr">{{'Dr' | translate}} </option>
                            <option value="prof">{{'Prof' | translate}} </option>
                            <option value="miss">{{'Miss' | translate}} </option>
                            <option value="mr">{{'Mr' | translate}}</option>
                            <option value="mrs">{{'Mrs' | translate}}</option>
                        </select>
                    </label>

                    <label class="form-label">
                        {{'First_Name' | translate}}
                        <input type="text" formControlName="fname">
                    </label>
                    <label for="" class="form-label">
                        {{'Last_Name' | translate}} 
                        <input type="text" formControlName="lname">
                    </label>
                    <label for="" class="form-label">
                        {{'Gender' | translate}} 
                        <select formControlName="gender">
                            <option value="male">{{'Male' | translate}}</option>
                            <option value="female">{{'Female' | translate}}</option>
                        </select>
                    </label>
                    <label class="form-label">
                        {{'Date_Of_Birth' | translate}}
                        <input type="date" formControlName="dob">
                    </label>
                    <label for="" class="form-label">
                        {{'Joining_At_Chu_De_Cocody_Date' | translate}} 
                        <input type="date" formControlName="joiningDate">
                    </label>
                    <label for="" class="form-label">
                        {{'Public_Service_Joining_Date' | translate}}
                        <input type="date" formControlName="psfStartDate">
                    </label>
                    <label for="" class="form-label">
                        {{'Numéro de téléphone' | translate}}  
                        <input type="text" formControlName="phone">
                    </label>
                    <label for="" class="form-label">
                        {{'Email' | translate}}
                        <input type="email" formControlName="email">
                    </label>
                    <label for="" class="form-label">
                        {{'Address' | translate}} 
                        <input type="text" name="address" formControlName="address">
                    </label>
                    <!-- <label for="" class="form-label">
                        {{'Functional_Direction/Department' | translate}}
                        <select formControlName="functionalDep">
                            <option *ngFor="let dept of data.departments" [value]="dept.DepartmentId">{{dept.department}}</option>
                        </select>
                    </label> -->
                    <label for="" class="form-label">
                        {{'Sub_Division' | translate}}
                        <select formControlName="subDivision">
                            <option *ngFor="let subDiv of data.subdivisions" [value]="subDiv.subDivisionId">{{subDiv.subDivision}}</option>
                        </select>
                    </label>
                    <label for="" class="form-label">
                        {{'Division' | translate}} 
                        <select formControlName="division">
                            <option *ngFor="let dept of data.departments" [value]="dept.departmentId">{{dept.department}}</option>
                        </select>
                    </label>
                    <label for="" class="form-label">
                        {{'Service' | translate}} 
                        <select formControlName="service">
                            <option *ngFor="let svc of data.services" [value]="svc.serviceId">{{svc.serviceName}}</option>
                        </select>
                    </label>
                    <label for="" class="form-label">
                        {{'Job' | translate}} 
                        <select formControlName="job">
                            <option *ngFor="let job of data.jobs" [value]="job.jobId">{{job.jobTitle}}</option>
                        </select>
                    </label>
                    <label for="" class="form-label">
                        {{'Function' | translate}} 
                        <select formControlName="function">
                            <option *ngFor="let func of data.functions" [value]="func.functionId">{{func.functionName}}</option>
                        </select>
                    </label>
                    <label for="" class="form-label">
                        {{'Rank' | translate}}   
                        <select formControlName="rank">
                            <option *ngFor="let garde of data.grades" [value]="garde.gradeId">{{garde.gradeName}}</option>
                        </select>
                    </label>
                    <label for="" class="form-label">
                        {{'Nature_of_Contract' | translate}} 
                        <select formControlName="contractNature">
                            <option *ngFor="let contract of data.natureOfContract" [value]="contract.contractId">{{contract.contractName}}</option>
                        </select>
                    </label>
                    
                    
                    
                    <label for="" class="form-label">
                        {{'Line_Managers' | translate}} N+1
                        <select class="" formControlName="lineManager1">
                            <option *ngFor="let user of data.users" [value]="user.userId">{{user.userName}}</option>
                        </select>
                    </label>
                    <label for="" class="form-label">
                        {{'Line_Managers' | translate}}  N+2 
                        <select class="" formControlName="lineManager2">
                            <option *ngFor="let user of data.users" [value]="user.userId">{{user.userName}}</option>
                        </select>
                    </label>
                    <!-- <label for="" class="form-label">
                        Direction of Assignment of Responsibilities No 1
                        <input type="text" formControlName="dirResponsibility1">
                    </label>
                    <label for="" class="form-label">
                        Direction of Assignment of Responsibilities No 2
                        <input type="text" formControlName="dirResponsibility2">
                    </label> -->
                    <label for="" class="form-label">
                        {{'Role' | translate}}  
                        <select formControlName="role">
                            <option *ngFor="let role of data.role" [value]="role.roleId">{{role.roleName}}</option>
                        </select>
                    </label>
                    <label for="" class="form-label">
                        {{'Categories' | translate}}
                        <select formControlName="categories">
                            <option value="nursing">{{'Nursing_And_Midwifery' | translate}}</option>
                            <option value="doctor">{{'Doctor_And_Dentist' | translate}}</option>
                        </select>
                    </label>
                    <!-- <label for="" class="form-label">
                        {{'Public_Service_Joining_Date' | translate}}
                        <input type="date" formControlName="publicServiceDate">
                    </label> -->
                    <label for="" class="form-label">
                        {{'Joining_at_CHU_de_COCODY_Date' | translate}}
                        <input type="date" formControlName="joiningDate">
                    </label>
                    <!-- <label for="" class="form-label">
                        {{'Date_of_Birth' | translate}}
                        <input type="date" formControlName="DOB">
                    </label> -->
                    <!-- @if (currentUser !== 'user') {
                        <label for="" class="form-label">
                            {{'Permission_To_Access' | translate}}
                            <input type="text" formControlName="accessRight">
                        </label>
                    } -->
                </div>


                <button type="submit" mat-flat-button>{{'Submit' | translate}}</button>
            </form>
        </mat-card-content>
    </mat-card>

</div>
