<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="left">
    <mat-icon (click)="toggleDrawer()" fontSet="material-icons-outlined" id="menu-btn">menu</mat-icon>
    <mat-icon fontSet="material-icons-outlined">search</mat-icon>
    <input type="search" placeholder="Recherche...">
  </div>
  <div class="right">

    <!-- <select (change)="onChange($event.target)"> 
      <option value="1">{{'Admin' | translate}}</option>
      <option value="2">{{'User' | translate}}</option>
      <option value="3">{{'Line_Manager' | translate}}</option>
    </select> -->

    <div class="trans">
      <a class="lang nav-link dropdown-toggle" href="#" id="lang-dropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        @if (selectedLang == 'en') {
          <img src="../../../assets/imgs/usa.png" alt="en">
          <p>En</p>
        } @else {
          <img src="../../../assets/imgs/france.png">
          <p>Fr</p>
        }
      </a>
      <ul class="dropdown-menu lang-dropdown dropdown-menu-action" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item lang" (click)="switchLanguage('en')">
            <img src="../../../assets/imgs/usa.png">
            <p>En</p>
          </a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item lang" (click)="switchLanguage('fr')">
            <img src="../../../assets/imgs/france.png">
            <p>Fr</p>
          </a></li>
      </ul>
    </div>

    <div class="icon">
      <mat-icon fontSet="material-icons-outlined">notifications</mat-icon>
    </div>

    <div class="user">
      <img src="../../../assets/imgs/profile.jpeg" alt="profile">
      <div class="user-info">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Michelle
        </a>
        <ul class="dropdown-menu dropdown-menu-action" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Mon Profile</a></li>
          <li><a class="dropdown-item" href="#">Mes demandes</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">deconnexion</a></li>
        </ul>
      </div>
    </div>

  </div>

  <!-- <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="user-drop-downs">
            <div class="user-lang">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Eng
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Eng</a></li>
                    <li><a class="dropdown-item" href="#">Fr</a></li>
                  </ul>
            </div>
            <div class="user-notify">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Notifications
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><h6>Notifications</h6><a class="dropdown-item" href="#"> View All</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
            </div>
            <div class="user-info">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu dropdown-menu-action" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
            </div>
        </div>
      </div> -->
</nav>