<div id="jobs-by-dept">

    <h1>{{"Positions_By_Direction" | translate}}</h1>

    <mat-card appearance="outlined">
        <mat-card-header>{{"Details" | translate}}</mat-card-header>
        <mat-card-content>
            <!-- <div class="top-bar">
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <mat-icon>search</mat-icon>
                </div>
            </div> -->

            <!-- <table mat-table [dataSource]="jobsDeptSourceData" class="mat-elevation-z8">

                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element"> {{ jobsDeptSourceData.indexOf(element) + 1 }} </td>
                </ng-container>

                <ng-container matColumnDef="department">
                    <th mat-header-cell *matHeaderCellDef> Department </th>
                    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                </ng-container>

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> Position </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <ng-container matColumnDef="totalPosts">
                    <th mat-header-cell *matHeaderCellDef> Total Posts </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalPosts}} </td>
                </ng-container>

                <ng-container matColumnDef="vacantPosts">
                    <th mat-header-cell *matHeaderCellDef> Vacant Posts </th>
                    <td mat-cell *matCellDef="let element"> {{element.vacantPosts}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element"><mat-icon>edit</mat-icon></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="jobsDeptColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: jobsDeptColumns;"></tr>
            </table> -->

            <app-common-table [displayCols]="jobsDeptColumns" [dataSourceIpt]="jobsDeptSourceData" [exportImport]="'export'" ></app-common-table>


        </mat-card-content>
    </mat-card>
</div>