#table-component {
    width: 99%;
    max-width: 99%;
    overflow-x: auto;

    .top-bar {
        margin-bottom: 15px !important;
        display: flex;
        align-items: center;
        justify-content: space-between !important;

        .buttons {
            display: flex;
            gap: 10px;
        }

        .side-bar {
            display: flex;
            gap: 10px;
        }

        button {
            font-size: var(--text-md);
            // border-radius: 10px;
            min-width: fit-content !important;
        }
    }

    table {
        box-shadow: unset;
        background-color: white !important;
    }

    mat-paginator {
        background-color: white !important;
        font-size: var(--text-sm);
    }

    select {
        width: 50% !important;
    }

    ::ng-deep {

        .clickable-row {
            cursor: pointer;
            &:hover {
                background: #f4f4f4;
            }
        }

        .mat-mdc-table {
            border: 1px solid var(--border-gray2) !important;
            border-radius: 8px;
            border-collapse: separate;

            .mat-mdc-header-row {
                font-size: var(--text-md);
                // border-top-right-radius: 8px;
                // border-top-left-radius: 8px;

                .mat-mdc-header-cell {
                    // border-top-right-radius: 8px;
                    // border-top-left-radius: 8px;
                    border-bottom: 1px solid var(--border-gray2);
                    background: var(--table-header);
                    min-width: 180px;
                }

                .mat-mdc-header-cell:last-child {
                    border-top-right-radius: 8px;
                }

                .mat-mdc-header-cell:first-child {
                    border-top-left-radius: 8px;
                    min-width: unset;
                }
            }

            .mat-mdc-row:last-child {
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;

                .mat-mdc-cell {
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                    border-bottom: 0;
                }
            }

            .mat-mdc-cell {
                border-bottom: 1px solid var(--border-gray);
                font-size: var(--text-md);
                color: var(--gray-text);
            }
        }
    }
}