<div id="table-component">
    <div class="top-bar">
        <div>
            @if (exportImport == 'both') {
            <div class="buttons">
                <button mat-flat-button>{{"Export_Data" | translate}}</button>
                <button mat-flat-button>{{"Import_Data" | translate}}</button>
            </div>
            } @else if (exportImport == 'export') {
            <div class="buttons">
                <button mat-flat-button>{{"Export_Data" | translate}}</button>
            </div>
            } @else if (exportImport == 'import') {
            <div class="buttons">
                <button mat-flat-button>{{"Import_Data" | translate}}</button>
            </div>
            }
        </div>
        <div class="side-bar">
            <div class="search-bar">
                <input type="text" [(ngModel)]="filterData" (ngModelChange)="sortData($event)" placeholder="Search">
                <mat-icon>search</mat-icon>
            </div>
            @if(fromComp ==='leaveManagement'){
            <select>
                <option>{{'All' | translate}}</option>
                <option>{{'Pending' | translate}}</option>
                <option>{{'Granted' | translate}}</option>
                <option>{{'Rejected' | translate}}</option>
                <option>{{'Maternity' | translate}}</option>
            </select>
            } @else if(fromComp ==='evalution'){
            <select>
                <option>{{'Started' | translate}}</option>
                <option>{{'Ready_to_be_Signed' | translate}}</option>
                <option>{{'Signed_Off' | translate}}</option>
                <option>{{'In_progress' | translate}}</option>
            </select>
            }
        </div>
    
    </div>
    <table mat-table [dataSource]="TableDataSource" class="mat-elevation-z8">
    
        @for (item of displayCols; track $index) {
        <ng-container [matColumnDef]="item">
            <th mat-header-cell *matHeaderCellDef> {{item.replaceAll(' ', '_') | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{ item === '#' ? TableDataSource.data.indexOf(element) +1:
                element[convertToCamelCase(item)]}} </td>
        </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="displayCols"></tr>
        @if (fromComp == 'feedback') {
            <tr class="clickable-row" mat-row routerLink="/feedbackProfile" *matRowDef="let row; columns: displayCols;"></tr>
        }
        @else if (fromComp == 'staff') {
            <tr class="clickable-row" mat-row routerLink="/employeeProfile" *matRowDef="let row; columns: displayCols;"></tr>
        }
        @else{
        <tr mat-row *matRowDef="let row; columns: displayCols;"></tr>
        }
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>