#teams {
    padding: 10px;

    h1 {
        font-weight: 500;
        padding: 0.5rem 0 1rem 0;
        font-size: var(--text-xl);
    }

    .top-bar {
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 10px !important;
    }

    ::ng-deep {
        button {
            font-size: var(--text-md);
            // border-radius: 10px;
            width: fit-content;
        }

        .teams-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-between;
        }

        mat-card {
            border: 1px solid var(--border-gray);
            border-radius: 5px;
            background: var(--white-bg);
            width: 49%;

            mat-card-header {
                font-weight: 500;
                font-size: var(--text-lg);

                display: flex;
                align-items: center;
                justify-content: space-between;

                .mat-mdc-card-header-text {
                    display: none;
                }

                p {
                    display: inline-block;
                    text-align: left;
                }

                button {
                    font-size: var(--text-md);
                    // border-radius: 10px;
                    width: fit-content;
                }

            }

            mat-card-content {
                padding: 15px;
                color: var(--text-second);
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                    font-size: var(--text-md);
                }

                h2 {
                    font-size: var(--text-lg);
                    color: var(--text-third);
                    font-weight: 500;
                }
                .members {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 5px;
                    width: 100%;
                    overflow-x: auto;
                    
                }

            }
        }
    }
}