<h2 mat-dialog-title> {{'Add_Team' | translate}} </h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="teamForm">
      <mat-form-field>
        <mat-label>{{'Team_Name' | translate}}</mat-label>
        <input matInput formControlName="teamName" placeholder="{{'Team_Name' | translate}}...">
    </mat-form-field>
        <mat-form-field>
            <mat-label> {{'Select_Service' | translate}}</mat-label>
            <select matNativeControl formControlName="service">
              <option value="development">{{'Development' | translate}}</option>
              <option value="analysis">{{'Analysis' | translate}}</option>
              <option value="mnagement">{{'Management' | translate}}</option>
            </select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'Select_Department' | translate}}</mat-label>
            <select matNativeControl formControlName="department">
              <option value="it">IT</option>
              <option value="hr">HR</option>
              <option value="accounts">Accounts Management</option>
            </select>
          </mat-form-field>
        <mat-form-field>
            <mat-label>{{'Search_Employee' | translate}}</mat-label>
            <input matInput formControlName="searchEmployee" placeholder="{{'Search_Employee' | translate}}...">
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">{{'Close' | translate}}</button>
    <button mat-button (click)="sendData()" [disabled]="teamForm.invalid">{{'Submit' | translate}}</button>
</mat-dialog-actions>