.orgchart .node-content {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
  }
  
  .orgchart .node-label {
    font-weight: bold;
  }
  
  .orgchart .node-data {
    font-style: italic;
  }
  