<div id="main-container">
    <div class="back">
        <div class="top"></div>
        <div class="middle"></div>
        <div class="bottom"></div>
        <!-- <img src="https://i.postimg.cc/MHVWjnSH/Picture1.png" alt="chu cocody logo" class="background-img"> -->
        <img src="../../../assets/imgs/newhoslogo.jpeg" alt="chu cocody logo" class="logo">
    </div>

    <div class="front">
        <div class="signup-left">
            <img src="../../../assets/imgs/newhos.jpg" alt="doctor image">
        </div>
        <div class="signup-right">
            <h1>{{'Welcome' | translate}}</h1>

            <form [formGroup]="loginForm">
                <mat-form-field>
                    <mat-label>{{'Veuillez saisir votre numéro de téléphone mobile' | translate}}</mat-label>
                    <input matInput formControlName="PhoneNo" required/>
                </mat-form-field>
                <mat-form-field>
                     <mat-label>{{'Veuillez saisir votre numéro de téléphone mobile' | translate}}</mat-label>
                    <input type="password" matInput formControlName="Password" required  />
                </mat-form-field>
                <!-- <a href="#">{{'Forgot_password' | translate}}</a> -->
             <button mat-flat-button (click)="login()" >{{'CONNEXION' | translate}}</button>
            </form>
        </div>
    </div>
</div>